# ==============================================================================
# MOTOR TREIS - CONFIGURAÇÃO DE AMBIENTE (MODELO)
# ==============================================================================

# --- IDENTIFICAÇÃO ---
API_NAME="API Treis"
API_VERSION="1.0.0"
NODE_ENV="development" # development | production | test

# --- BANCO DE DADOS (Obrigatórios) ---
DB_USER=
DB_PASS=
DB_NAME=
DB_HOST=
DB_PORT=5432

# --- SERVIDOR ---
API_PORT=3002
ORIGIN="http://localhost:5173" # URL do seu Frontend Verona

# --- SEGURANÇA E CRIPTOGRAFIA (Críticos - Não compartilhe!) ---
# PEPPER_VERSIONS deve ser um JSON stringificado
PEPPER_VERSIONS='{"1": "sua_chave_secreta_super_segura_aqui"}'
PEPPER_CURRENT="1"
SALT_ROUNDS=10

# --- TOKENS E COMUNICAÇÃO INTERNA (Obrigatórios) ---
TOKEN_BYTES=32
TOKEN_ALGOR="sha256"
TOKEN_PEPPER="outro_pepper_exclusivo_para_tokens"
INTERNAL_API_KEY="chave_secreta_para_grpc_interno"

# --- FUNCIONALIDADES (Opcionais - Defaults definidos no Core) ---
ENABLE_TEST_ROUTES=false # true para habilitar rotas de teste, false para desabilitar
ENABLE_HATEOAS=true # true para incluir links HATEOAS nas respostas, false para desabilitar
ENABLE_RETURN_ERRORS=true # true ajuda no debug em desenvolvimento
ENABLE_CONSOLE_LOG=true # true para habilitar logs no console, false para desabilitar (recomendado em produção)
