API_NAME=API Treis
API_VERSION=3.3.58
NODE_ENV=development
DB_USER=
DB_PASS=
DB_NAME=
DB_HOST=
DB_PORT=
API_PORT=
ORIGIN=
ENABLE_TEST_ROUTES=true
ENABLE_HATEOAS=true
ENABLE_RETURN_ERRORS=true
SALT_ROUNDS=10
PEPPER_VERSIONS='{"1": ""}'
PEPPER_CURRENT=1
ENABLE_CONSOLE_LOG=true
INTERNAL_API_KEY=S3cr3t_K3y_F0r_gRPC_BFF

TOKEN_BYTES = 32
TOKEN_ALGOR = sha256
TOKEN_PEPPER = ''