# Dependências
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configurações Sensíveis
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build e Saída
dist/
build/
*.tsbuildinfo
src/dynamic-modules/

# Docker
.docker-lock.json

# Logs
logs/
*.log

# Sistema e IDE
.DS_Store
.vscode/
.idea/
*.swp
*.swo

# Temporários
tmp/
temp/

# Dados do Banco de Dados
data/
db/
