node_modules/
.env
.env.production
node_modules
dist/
data/
logs/
GEMINI.md
RELATORIO_*

apps/treis/.env
apps/treis/.env.production
apps/treis/dist/
apps/treis/src/dynamic-modules/usersessions/
apps/treis/logs/

packages/verona/.env
packages/verona/.env.production
packages/verona/logs/
packages/verona/dist/
